version: '3.2'

volumes:
  fedora:

services:
  fedora:
    image: avalonmediasystem/fedora:4.7.5-s3fix
    logging:
      driver: "awslogs"
      options:
        awslogs-group: "${FEDORA_LOGGROUP}"
        awslogs-create-group: "true"
    environment:
      - JAVA_OPTIONS=${FEDORA_OPTIONS}
    volumes:
      - fedora:/data
    healthcheck:
      test: curl --fail -s http://localhost:8080/ || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 3
    restart: always
  s3-helper:
    image: avalonmediasystem/evs-s3helper
    environment:
      - S3_REGION=${AWS_REGION}
      - S3_BUCKET=${AVALON_STREAMING_BUCKET}
  solr:
    image: avalonmediasystem/solr:latest
    build:
      context: ./solr
      args:
        - AVALON_BRANCH=develop
    logging:
      driver: "awslogs"
      options:
        awslogs-group: "${SOLR_LOGGROUP}"
        awslogs-create-group: "true"
    volumes:
      - /srv/solr_data:/opt/solr/server/solr/mycores
      - /srv/solr_backups:/backups
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - avalon
      - /opt/solr/avalon_conf
    healthcheck:
      test: curl --fail -s http://localhost:8983/ || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 3
    restart: always
  jobs:
    image: mcuadros/ofelia:latest
    volumes:
      - ./jobs.ini:/etc/ofelia/config.ini
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
  hls:
    image: avalonmediasystem/nginx:ecs
    depends_on:
      - avalon
      - s3-helper
    build:
      context: ./nginx
    logging:
      driver: "awslogs"
      options:
        awslogs-group: "${HLS_LOGGROUP}"
        awslogs-create-group: "true"
    environment:
      - PROXY_PASS_URL=http://s3-helper:8080
      - AUTH_URL=http://avalon:3000
    ports:
      - "8880:80"
    restart: always
  cache:
    image: nginx
    volumes:
      - ./cache.conf:/etc/nginx/conf.d/nginx.conf
    ports:
      - "80:80"
    restart: always
  avalon: &avalon
    image: ${AVALON_DOCKER_REPO}:${AVALON_REV:-latest}
    command: bash -c "rake db:migrate; rails server -b 0.0.0.0"
    env_file:
      - .env
    logging:
      driver: "awslogs"
      options:
        awslogs-group: "${AVALON_LOGGROUP}"
        awslogs-create-group: "true"
    depends_on:
      - fedora
      - solr
    environment:
      - APP_NAME
      - AWS_REGION
      - SECRET_KEY_BASE
      - DATABASE_URL=${DATABASE_URL}
      - SETTINGS__DOMAIN
      - SETTINGS__EMAIL__MAILER=aws_sdk
      - SETTINGS__EMAIL__COMMENTS
      - SETTINGS__EMAIL__NOTIFICATION
      - SETTINGS__EMAIL__SUPPORT
      - ENCODE_WORK_DIR=/tmp
      - FEDORA_BASE_PATH
      - FEDORA_NAMESPACE=avalon
      - FEDORA_URL=http://fedoraAdmin:fedoraAdmin@fedora:8080/rest
      - SETTINGS__FFMPEG__PATH=/usr/bin/ffmpeg
      - MASTER_FILE_PATH
      - MASTER_FILE_STRATEGY=delete
      - MEDIAINFO_PATH=/usr/bin/mediainfo
      - RAILS_ENV=production
      - RAILS_SERVE_STATIC_FILES=true
      - SETTINGS__REDIS__HOST=${ELASTICACHE_HOST}
      - SETTINGS__REDIS__PORT=6379
      - SMTP_ADDRESS
      - SMTP_AUTHENTICATION
      - SMTP_DOMAIN
      - SMTP_ENABLE_STARTTLS_AUTO
      - SMTP_OPENSSL_VERIFY_MODE
      - SMTP_PASSWORD
      - SMTP_PORT
      - SMTP_USER_NAME
      - SOLR_URL=http://solr:8983/solr/avalon
      - SETTINGS__ENCODING__PRESETS_PATH=config/elastic_transcoder_presets.yml
      - SETTINGS__STREAMING__CONTENT_PATH=/
      - SETTINGS__STREAMING__SERVER=nginx
      - SETTINGS__TIMELINER__TIMELINER_URL
      - SYSTEM_GROUPS=administrator,group_manager,manager
      - SECRET_KEY_BASE=${SECRET_KEY_BASE}
      - Z3950_ATTRIBUTE
      - Z3950_DATABASE
      - Z3950_HOST
      - Z3950_PORT
    healthcheck:
      test: curl --fail -s http://localhost:3000/ || exit 1
      interval: 2m30s
      timeout: 10s
      retries: 3
    restart: always
  worker:
    <<: *avalon
    logging:
      driver: "awslogs"
      options:
        awslogs-group: "${WORKER_LOGGROUP}"
        awslogs-create-group: "true"
    command: bundle exec sidekiq -C config/sidekiq.yml
    healthcheck:
      disable: true

