# All values are required. Existing values are defaults. Others need
# to be filled in or generated.
AVALON_BRANCH=master
AVALON_DB_PASSWORD=
AVALON_SECRET_KEY_BASE=
FEDORA_DB_PASSWORD=
FEDORA_VERSION=3.8.1
MATTERHORN_VER=1.4
MATTERHORN_BRANCH=1.4.x
POSTGRES_USER=postgres
WOWZA_ADMIN_PASSWORD=
WOWZA_ADMIN_USER=admin
WOWZA_LICENSE_KEY=
WOWZA_SILENT_INSTALL_KEY=
